.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

@media (max-width: 576px) {
  .banner h1, .banner p, .banner a {
  display:inline-flex;
  }
}
